project     = "gitlab-runner-eks"
aws_region  = "us-east-1"
environment = "test"
profile     = "default"

# VPC
vpc_id                    = null
main_vpc_cidr_block       = "172.29.128.0/25"
secondary_vpc_cidr_blocks = ["172.29.159.224/27", "172.29.128.128/27"]

az_set             = ["ap-southeast-1c", "ap-southeast-1a"]
public_subnets     = ["172.29.159.224/27"]
private_subnets    = ["172.29.128.0/26", "172.29.128.64/26"]
db_private_subnets = ["172.29.128.128/28", "172.29.128.144/28"]
enable_natgw       = false

# Bastion
bastion_instance_type = "t3a.nano"
bastion_ami           = "ami-055d15d9cfddf7bd3"
bastion_disk_size     = 10

# EKS
eks_version        = "1.21"
node_count         = 2
eks_instance_types = ["t3a.medium"]
