project     = "glr-test"
aws_region  = "us-west-1"
environment = "dev"
profile     = "default"

# VPC
main_vpc_cidr_block = "10.20.128.0/24"

az_set          = ["us-east-1a", "us-east-1a"]
public_subnets  = ["10.20.128.0/26", "10.20.128.64/26"]
private_subnets = ["10.20.128.128/26", "10.64.128.192/26"]
enable_natgw    = false

# EKS
eks_version        = "1.23"
eks_instance_types = ["t3a.medium"]
node_count         = 2
node_min_count     = 1
node_max_count     = 3

# Gitlab
gitlab_url              = "https://gitlab.com"
runner_concurrent_count = 10
runner_helm_version     = "0.46.0"

gitlab_reg_token_map = {
  "glr-test-group" = "GR134894112hFqjC9ZsecwEcg9sSw"
}